@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {text-decoration: none;}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(225deg, #8a4e6b, #291850);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -999;
    opacity: 15%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
}

#avatar {
    height: 128px;
    border-radius: 100%;
    border: 3px solid rgba(42, 42, 42, .6);
    cursor: pointer;
    transition: .3s;
}

#avatar:hover {
    height: 140px;
    border-color: rgba(102, 117, 61, .6);
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#subtitle {
    color: gray;
}

.links {
    display: flex;
    margin: 0 8px;
    justify-content: center;
    flex-flow: row wrap;
}

.links a {
    margin: 4px;
    font-weight: bold;
    color: white
}

.icon {
    height: 21px;
    width: 21px;
}

.button {
    padding: 8px;
    background: rgba(42, 42, 42, .6);
    border-radius: 2rem;
    transition: .3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#github:hover { background: rgba(117, 117, 117, .6); }
#telegram:hover { background: rgba(47, 95, 117, .6); }
#vk:hover { background: rgba(47, 81, 117, .6); }
#lastfm:hover { background: rgba(117, 47, 48, .6); }

.parallax > use {
    animation: move-forever 54s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  @media (max-width: 768px) {
    .wave {
      height:40px;
      min-height:40px;
    }
  }
